<div class="container">
  <mat-card>
    <h4>Crear estudiantes</h4>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Patronus</mat-label>
        <input matInput formControlName="patronus" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Elige una casa</mat-label>
        <mat-select formControlName="house" name="house">
          <mat-option *ngFor="let house of houses" [value]="house.value">
            {{ house.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="button">
        Crear
      </button>
    </form>

    <table mat-table [dataSource]="dataSource" matSort class="table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let estudiantes">{{ estudiantes.name }}</td>
      </ng-container>

      <!-- House Column -->
      <ng-container matColumnDef="house">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>House</th>
        <td mat-cell *matCellDef="let estudiantes">{{ estudiantes.house }}</td>
      </ng-container>

      <!-- BirthDay Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let estudiantes">
          {{ estudiantes.age }}
        </td>
      </ng-container>

      <!-- Patronus Column -->
      <ng-container matColumnDef="patronus">
        <th mat-header-cell *matHeaderCellDef>Patronus</th>
        <td mat-cell *matCellDef="let personajes">{{ personajes.patronus }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic estudiantes"
    >
    </mat-paginator>
  </mat-card>
</div>
